<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <div id='logo'></div>
        <div id='headerName'> MABESA IT </div>
        <div class='clear'></div>
    </div>
  </div>
</header>